# Express Server Port
PORT=3001

# Secrets
JWT_SECRET=spm-dev-secret-key-change-in-production-2026
HARDWARE_API_KEY=ESP32-DEV-KEY-2026
ESP_API_KEY=your_esp_api_key_here

# Database
DB_PATH=../../parking.db
POSTGRES_URL=postgresql://user:password@localhost:5432/parking
